<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/formstyle.css">
    </head>
    <body>
    <script src="../assets/js/jserver.js"></script>
    <h1>Hello World!</h1>
    <div id="inside" class="inside">
        <div id="container" class="container">

        </div>
    </div>
    </body>
</html>