<!DOCTYPE HTML>
<html>
    <head>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="../assets/js/side-bar.js"></script>
        <link rel="stylesheet" href="../assets/css/test.css">
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
    <script src="../assets/js/test.js"></script>
    <nav class="nav-main">
  	  <ul>
        <li><div id="sidebar" name="btn"></div>
        <li><a href="home.php">IOT</a></li>
        <li><a href="switch.php">switch</a></li>
        <li><a href="chart.php">Chart</a></li>
        <li><a href="creat.php">Creat</a></li>
  	  </ul>	
    
    <div class="creat_box">
        <div class="box">
            <div id="on" value="1">test<div>
            <div id="on" value="2">test<div>
        </div>
    </div>
    </body>
</html>