.inside{
	padding:80px 80px;
}

.container{
	
	width:100%;
	display:flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}

.container .A{
	display:flex;
	/*background-color: #373142;*/
	color: #FFF;
	width: 200px;
	height: 200px;
	text-align: center;
	line-height: 100px;
	padding: 20px 20px;
	flex-direction: column;
}
.container .A .B{
	padding-top: 25px;
	width: 200px;
	height: 180px;
	background-color: #373142;
}
.container .A .B .bj{
	display: inline-block; 
}
.kk{
	margin-left: 30px;
	text-align: left;
	font-size: 50px;
}
.container .A .C{ 
	padding-top: 10px;
	color: black;
	line-height: 40px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
	cursor: pointer;
}
.container .A .C:hover {
	background-color: black;
	color: #FFF;
}

.inside .container .bk{
	left: 40%;
	width: 40%;
	height: 40%;
	padding: 30px 30px;
}

.inside .container .bk .box {
	width: 100%;
	height:230px;

}